.header{
    display: flex;
    padding: 5px 2%;
    justify-content: space-between;
}
.header span,.auth-first-div-line span{
    margin-left: 10px;
    padding-bottom: 3px;
    color: #60b411;
    font-size: 1.5rem;
    font-weight: bold;
}
.header > div{
    display: flex;
    align-items: center;
}
.login-bttn {
    outline: none;
    border-bottom-left-radius: 50px;
    border: none;
    border-top-left-radius: 50px;
    background: #60b411;
    color: #000b08;
}
.login-bttn, .register-bttn{
    padding: 0px 15px;
    height: 35px;
    cursor: pointer;
    font-size: 0.85rem;
    font-weight: bold;
}
.register-bttn{
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer;
    background: transparent;
    color: #60b411;
    border: solid 1px #60b411;
}
.auth-aside{
    position: fixed;
    z-index: 15;
    right: 0px;
    left: 0px;
    top: 0px;
    bottom: 0px;
    background: transparent;
    backdrop-filter: grayscale(20%) blur(1px) saturate(30%) brightness(0.5);
    display: none;
    justify-content: center;
    align-items: center
}
.auth-div{
    max-width: 450px;
    width: 80%;
    height: 300px;
    background-color: #003823;
    border-radius: 20px;
    border: solid 1px #60b411;
    position: relative;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}
.close-bttn{
    position: absolute;
    right: 10px;
    background: transparent;
    font-size: 1.5rem;
    border: none;
    top: 10px;
    color: #e8f5ef;
    display: flex;
    font-weight: 50;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}
.close-bttn:hover{
    background: #002a1b;
}
.auth-first-div-line{
    height: 50px;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.auth-first-div-line span{
    font-size: 1.8rem;
}
.auth-second-div-line,.auth-fourth-div-line{
    display: flex;
    align-items: center;
    justify-content: center;
}
.google-bttn, .email-bttn{
    height: 45px;
    width: 80%;
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: 50px;
    border: none;
    background: #60b411;
    color: #e8f5ef;
    cursor: pointer;
}
.google-bttn:hover{
    background: #47860b;
}
.email-bttn{
    border: solid 1px #60b411;
    background: transparent;
    color: #60b411
}
.email-bttn:hover{
    background: #005536;
}
.auth-third-div-line{
    display: flex;
    align-items: center;
    justify-content: center;
}
.line{
    height: 1.5px;
    width: 35%;
    background: #60b411;
}
.or{
    color: #e8f5ef;
    width: 10%; 
    text-align: center;
}
